.message-display {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  margin-bottom: 8px;
  z-index: 9999;
}

.message-content {
  color: white;
  padding: 12px 16px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.5s ease-out;
  transform-origin: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;

}

.message-content.success {
  background: #22c55e;
}

.message-content.error {
  background: #ef4444;
}

.message-content.slide-up {
  animation: slideUp 0.5s ease-in forwards;
}
